<Plugin
    DescriptorVersion="1.0"
    Name="NfoMusicVideoMetadataExtractor"
    PluginId="{EC0684E1-C9D0-4F53-AED7-E7FDF567DE9D}"
    Author = "HAFBlade"
    Copyright="GPL"
    Description="Metadata extractor for extracting information from NFO music video files"
    PluginVersion="1.0">

  <DependsOn>
    <PluginReference PluginId="{D418C9C9-6D2A-44ed-ADC2-16345294B019}"/> <!-- MediaInfoPlugin -->
    <PluginReference PluginId="{B32504F3-4374-4640-94A1-16E1DEE84C3C}"/> <!-- OnlineLibraries -->
  </DependsOn>

  <Runtime>
    <Assembly FileName="NfoMusicVideoMetadataExtractor.dll"/>
  </Runtime>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="NfoMusicVideoMetadataExtractor"
        ClassName="MediaPortal.Extensions.MetadataExtractors.NfoMusicVideoMetadataExtractor"/>
  </Register>
</Plugin>