<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- todo: check what to do with upgrade code, same like MP2.msi? -->
  <!-- for more infos see: http://neilsleightholm.blogspot.de/2012/05/wix-burn-tipstricks.html -->
  <!-- This should NEVER be changed ! -->
  <?define UpgradeCode = "9743129C-FED3-404A-A66E-3C1557BE0178" ?>

  <!-- Note: Splashscreen must be a bitmap. -->
  <Bundle UpgradeCode="$(var.UpgradeCode)"
          Name="MediaPortal 2"
          Version="1.0.0.0"
          Manufacturer="Team MediaPortal"
          Copyright="Copyright © 2014, Team MediaPortal"
          IconSourceFile="$(var.SolutionDir)..\Resources\Images\MP2_Icon_General.ico"
          SplashScreenSourceFile="Resources\SplashScreen.bmp"
          HelpUrl="http://www.team-mediaportal.com"
          AboutUrl="http://www.team-mediaportal.com"
          Compressed="yes">

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <PayloadGroupRef Id="InstallerPayload" />
      <PayloadGroupRef Id="MediaPortalPayload" />
    </BootstrapperApplicationRef>

    <Chain>
      <!-- Install .Net 4 Full -->
      <PackageGroupRef Id='NetFx40Web' />

      <!-- Install additional software requirements -->
      <PackageGroupRef Id='VCRedist' />
      <PackageGroupRef Id="DirectX"/>
      <PackageGroupRef Id="Dokan"/>

      <!-- Install MediaPortal -->
      <PackageGroupRef Id="MediaPortal"/>
    </Chain>
  </Bundle>

  <Fragment>
    <PayloadGroup Id="InstallerPayload">
      <Payload SourceFile="$(var.MediaPortalBA.TargetPath)"/>
      <Payload SourceFile="$(var.MediaPortalBA.TargetDir)BootstrapperCore.config"/>
      <!--<Payload SourceFile="$(var.MediaPortalBA.TargetDir)\Microsoft.Deployment.WindowsInstaller.dll" />-->
    </PayloadGroup>

    <PayloadGroup Id ="MediaPortalPayload">
      <Payload SourceFile='Resources\License.htm' />

      <!-- Definition to write the default path files to the temp directory and use them as default definition. -->
      <!--<Payload SourceFile="$(var.SolutionDir)\..\Source\Base\Client\Defaults\Paths.xml" Name="CLIENT_Paths.xml" />
      <Payload SourceFile="$(var.SolutionDir)\..\Source\Base\Server\Defaults\Paths.xml" Name="SERVER_Paths.xml" />

      <Payload SourceFile='$(var.MediaPortal.Common.TargetPath)' />
      <Payload SourceFile='$(var.MediaPortal.Utilities.TargetPath)' />-->
    </PayloadGroup>
  </Fragment>

</Wix>